/*
	Filename: styles.css
	Author: Rachael Bogdany
*/

#resetButton{
	position: absolute; 
	top:50%; 
	margin-top: -63px;
	left:50%;
	margin-left: -155px;
	width: 326px;
	height: 126px;
	background: #010303;
	background: -webkit-linear-gradient(#010303, #073763);
	background: linear-gradient(#010303, #073763);
	border-radius: 5px;
	color: #ffffff;
	display: none;
	font: normal 700 50px/1 "Calibri", sans-serif;
	text-align: center;
	text-shadow: 1px 1px #000000;
	z-index: 100;
}

#resetButton:hover{
	cursor: pointer;
}

#playButton{
	position: absolute; 
	top:50%; 
	left:50%; 
	margin-left: -60px;
	margin-top: -60px;
	z-index: 1;
	display: none;
	width: 148px;
	height: 148px;
	border-style: solid;
	border-width: 74px 0px 74px 148px;
	box-sizing: border-box;
	border-color: transparent transparent transparent #202020;
	background: transparent;
}

#playButton:hover{
	cursor: pointer;
}

#pauseButton{
	position: absolute; 
	top:30px; 
	left:30px; 
	border-style: double;
	width: 40px;
	height: 40px;
	display: none;
	border-style: solid;
	border-width: 37px;
	border-color: #202020;
	border-width: 0px 15px 0px 15px;
	background-color: transparent;
	z-index: 100;
}

#pauseButton:hover{
	cursor: pointer;
}

#stopButton{
	position: absolute; 
	right:20px; 
	top:30px; 
	display: none;
	background-color: transparent;
	border: 0px;
	z-index: 100;
	font-size: 20px;
	font-weight: bold;
}

#stopButton:hover{
	cursor: pointer;
}

#startButton{
	position: absolute; 
	top: 50%; 
	margin-top: -63px;
	left:50%;
	margin-left: -155px;
	width: 326px;
	height: 126px;
	display: inline-block;
	background: #010303;
	background: -webkit-linear-gradient(#010303, #073763);
	background: linear-gradient(#010303, #073763);
	border-radius: 5px;
	color: #ffffff;
	font: normal 700 50px/1 "Calibri", sans-serif;
	text-align: center;
	text-shadow: 1px 1px #000000;
}

#startButton:hover{
	cursor: pointer;
}

#container{
	background:#00BFFF;
	width: 700px;
	height: 500px;
	position: absolute;
	top: 50%;
	margin-top: -250px;
	left: 50%;
	margin-left: -350px;
	overflow:hidden;
}

.arrowkeys{
	display: none;
}

#up{
	z-index: 100;
	position: absolute;
	bottom: 31px;
	right: 45px;
	padding: 0px 11px 3px 12px;
}

#down{
	z-index: 100;
	position: absolute;
	bottom: 10px;
	right: 45px;
	padding: 0px 11px 3px 12px;
}

#left{
	z-index: 100;
	position: absolute;
	bottom: 10px;
	right: 77px;
	padding: 1px 8px;
}

#right{
	z-index: 100;
	position: absolute;
	bottom: 10px;
	right: 13px;
	padding: 1px 8px;
}

#highScore{
	z-index: 100;
	position: absolute;
	bottom: 5px;
	left: 10px;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
}

#score{
	z-index: 100;
	position: absolute;
	top: 5px;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	text-align: center;
	width: 100%;
	display: none;
}

